body{
    background-color: rgb(42, 50, 50);
}
.Title{
    text-align: center;
    font-size: 32;
    font-weight: bold;
    background-color: rgb(245, 150, 150);

}
.page{
    border: solid 3px rgb(245, 150, 150);
    border-radius: 5px;
    height: 350px;
    width: 350px;
    background-color: rgb(135, 135, 169);
    margin-top: 200px;
    margin-left: 800px;
}
.button{
    display: flex;
    justify-content: space-around;
}
h3{
    display: flex;
    justify-content: center;
}
.pic{
    margin-left: 25px;
    margin-top: 15px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(245, 150, 150);
    text-align: center;
    left: 0;
}
